<!DOCTYPE html>
<html>
    <head>
        <title>register</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body style="background-color:black;">

<nav class="navbar navbar-default fixed-top"> <div class="container"> <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="/home" class="navbar-brand"><span class="glyphicon glyphicon-king" aria-hidden="true"></span> PANTOMATH</a> </div> <div class="collapse navbar-collapse" id="myNavbar"> <ul class="nav navbar-nav"> <li><a href="#">About</a></li> <li><a href="/users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users</a></li> </ul> <ul class="nav navbar-nav navbar-right"> <% if(!currentUser){ %> <li><a href="/register"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Signup</a></li></ul></div></div></nav> 


</body>
</html>
    