<h1>YOUR DETAILS</h1>
<form>
    <input type="text" name="name" placeholder="NAME">
    <input type="text" name="email" placeholder="MAIL-ID">
    <input type="text" name="address" placeholder="ADDRESS">
    <input type="number" name="number" placeholder="MOBILE NO.">
    

</form>